license = "{{ emqx_guard_pro_license }}"

# SMTP settings
# https://guard.emqx.dev/guide/configuration/smtp.html
smtp {
    enable = {{ emqx_guard_pro_smtp_enable }},
    host = "{{ emqx_guard_pro_smtp_host }}",
    user = "{{ emqx_guard_pro_smtp_user }}",
    password = "{{ emqx_guard_pro_smtp_password }}",
    from_address = "{{ emqx_guard_pro_smtp_from_address }}",
    to_address = "{{ emqx_guard_pro_smtp_to_address }}",
    auth = if_available,
    skip_verify = {{ emqx_guard_pro_smtp_skip_verify }}
}

# Slack settings
# https://guard.emqx.dev/guide/configuration/slack.html
slack {
    enable = {{ emqx_guard_pro_slack_enable }},
    webhook = "{{ emqx_guard_pro_slack_webhook }}",
    channel = "{{ emqx_guard_pro_slack_channel }}",
    token = "{{ emqx_guard_pro_slack_token }}"
}

# Dingtalk settings
# https://guard.emqx.dev/guide/configuration/dingtalk.html
dingtalk {
    enable = {{ emqx_guard_pro_dingtalk_enable }},
    webhook = "{{ emqx_guard_pro_dingtalk_webhook }}",
    secret = "{{ emqx_guard_pro_dingtalk_secret }}",
    at_mobiles = "{{ emqx_guard_pro_dingtalk_at_mobiles }}"
}

# Wechat settings
# https://guard.emqx.dev/guide/configuration/wechat.html
wechat {
    enable = {{ emqx_guard_pro_wechat_enable }},
    webhook = "{{ emqx_guard_pro_wechat_webhook }}",
    at_mobiles = "{{ emqx_guard_pro_wechat_at_mobiles }}"
}

# Feishu settings
# https://guard.emqx.dev/guide/configuration/feishu.html
feishu {
    enable = {{ emqx_guard_pro_feishu_enable }},
    webhook = "{{ emqx_guard_pro_feishu_webhook }}",
    secret = "{{ emqx_guard_pro_feishu_secret }}",
    template_version_name = "{{ emqx_guard_pro_feishu_template_version_name }}",
    template_id = "{{ emqx_guard_pro_feishu_template_id }}"
}